body {
  margin-top: 20px;
}

h1 {
  border: 2px solid rgb(215, 25, 25);
  padding: 20px;
  color: white;
  text-align: center;
  background-color: rgba(187, 57, 57, 0.979);
  border-radius: 0.6em;
}

#btnGroupDrop1 {
  border: 2px solid rgb(215, 25, 25);
  border-radius: 5px;
  color: rgba(187, 57, 57, 0.979);
  background-color: white;
}
.dropdown-menu {
  border: 2px solid rgb(146, 5, 5);
}
.dropdown-item {
  /* background-color: rgba(187, 57, 57, 0.718); */
  color: rgba(187, 57, 57, 0.979);
}

.dropdown-item:hover {
  background-color: rgba(187, 57, 57, 0.979);
  color: white;
}

.time {
  font-size: 16px;
  color: brown;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 2px solid rgb(215, 25, 25);
}
.col {
  margin-bottom: 5px;
}
